In [1]:
import pandas as pd

In [2]:
train_data_rms = pd.read_csv("data/train/unit0000_rms.csv")
train_data_alarm= pd.read_csv("data/train/unit0000_alarms.csv", header=None)

In [3]:
headers = ['timestamp','message']

train_data_alarm.columns = headers

In [4]:
# train_data_rms['Unit'] = '0'
train_data_rms.insert(0, 'Unit', '0')
train_data_alarm.insert(0,'Unit','0')

In [5]:
train_data_rms.head()

,Unit,timestamp,rpm,motor_voltage,motor_current,motor_temp,inlet_temp
0,0,2003-12-13 19:56:43.777979848,0.150438,-0.059544,0.045503,5.084823,0.019528
1,0,2003-12-13 20:07:32.457298714,0.511660,0.627101,0.208669,7.334172,2.081454
2,0,2003-12-13 20:13:43.182783330,0.824233,1.732618,0.286401,8.843053,3.485346
3,0,2003-12-13 20:27:19.295198297,1.506626,3.115258,0.483992,11.749493,6.041188
4,0,2003-12-13 20:35:08.719032171,2.034869,3.923323,0.851620,12.947061,7.309662

In [6]:
train_data_alarm.head()

  Unit                      timestamp  message
0    0  2003-12-15 19:18:56.526325850  warning
1    0  2003-12-15 23:29:11.344610850  warning
2    0  2003-12-17 16:26:26.782823329  warning
3    0  2003-12-18 02:21:51.445540122  warning
4    0  2004-01-04 17:16:12.501831699  warning

In [7]:
# format datetime field which comes in as string
train_data_rms['timestamp'] = pd.to_datetime(train_data_rms['timestamp'], format="%Y-%m-%d %H:%M:%S")
train_data_rms.index = pd.to_datetime(train_data_rms.index, unit='s')

print("Total number of rms records: %d" % len(train_data_rms.index))
print(train_data_rms.head())
train_data_rms.describe()

Total number of rms records: 91715
                    Unit                     timestamp       rpm  \
1970-01-01 00:00:00    0 2003-12-13 19:56:43.777979848  0.150438
1970-01-01 00:00:01    0 2003-12-13 20:07:32.457298714  0.511660
1970-01-01 00:00:02    0 2003-12-13 20:13:43.182783330  0.824233
1970-01-01 00:00:03    0 2003-12-13 20:27:19.295198297  1.506626
1970-01-01 00:00:04    0 2003-12-13 20:35:08.719032171  2.034869

                     motor_voltage  motor_current  motor_temp  inlet_temp
1970-01-01 00:00:00      -0.059544       0.045503    5.084823    0.019528
1970-01-01 00:00:01       0.627101       0.208669    7.334172    2.081454
1970-01-01 00:00:02       1.732618       0.286401    8.843053    3.485346
1970-01-01 00:00:03       3.115258       0.483992   11.749493    6.041188
1970-01-01 00:00:04       3.923323       0.851620   12.947061    7.309662

                rpm  motor_voltage  motor_current    motor_temp    inlet_temp
count  9.171500e+04   9.171500e+04   9.171500e+04  9.171500e+04  9.171500e+04
mean  -8.111152e+46  -4.431337e+60  -1.387827e+56 -6.640742e+69 -1.937422e+48
std    2.456380e+49   1.903274e+63   4.202968e+58  2.011115e+72  5.867349e+50
min   -7.439020e+51  -5.565298e+65  -1.272847e+61 -6.090557e+74 -1.776896e+53
25%    1.017725e+03   2.311319e+02   3.239347e+01  1.179731e+02  6.489677e+01
50%    1.066347e+03   2.667104e+02   3.944687e+01  1.564521e+02  7.799157e+01
75%    1.106721e+03   2.993994e+02   4.607173e+01  1.978223e+02  9.086132e+01
max    7.978110e+44   1.500194e+65   1.555360e+55  3.117856e+55  1.710299e+40

In [44]:
# format datetime field which comes in as string
train_data_alarm['timestamp'] = pd.to_datetime(train_data_alarm['timestamp'], format="%Y-%m-%d %H:%M:%S")
train_data_alarm['message'] = train_data_alarm['message'].astype('category')

print("Total number of error records: %d" % len(train_data_alarm.index))
train_data_alarm.head()

Total number of error records: 305

  Unit                     timestamp  message dummy
0    0 2003-12-15 19:18:56.526325850  warning   100
1    0 2003-12-15 23:29:11.344610850  warning   100
2    0 2003-12-17 16:26:26.782823329  warning   100
3    0 2003-12-18 02:21:51.445540122  warning   100
4    0 2004-01-04 17:16:12.501831699  warning   100

In [9]:
# Calculate mean values for rms features
temp = []
fields = ['rpm','motor_voltage','motor_current','motor_temp','inlet_temp']
for col in fields:
    temp.append(pd.pivot_table(train_data_rms,
                               index='timestamp',
                               columns='Unit',
                               values=col).resample('3H', closed='left', label='right', how='mean').unstack())
rms_mean_3h = pd.concat(temp, axis=1)
rms_mean_3h.columns = [i + 'mean_3h' for i in fields]
rms_mean_3h.reset_index(inplace=True)

# repeat for standard deviation
temp = []
for col in fields:
    temp.append(pd.pivot_table(train_data_rms,
                               index='timestamp',
                               columns='Unit',
                               values=col).resample('3H', closed='left', label='right', how='std').unstack())
rms_sd_3h = pd.concat(temp, axis=1)
rms_sd_3h.columns = [i + 'sd_3h' for i in fields]
rms_sd_3h.reset_index(inplace=True)

rms_mean_3h.head()

C:\Users\rudha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()

C:\Users\rudha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).std()

,Unit,timestamp,rpmmean_3h,motor_voltagemean_3h,motor_currentmean_3h,motor_tempmean_3h,inlet_tempmean_3h
0,0,2003-12-13 21:00:00,1.374093e+00,2.723364e+00,0.552699,11.121046,5.583214
1,0,2003-12-14 00:00:00,2.515909e+00,5.056727e+00,1.014991,24.520220,18.462192
2,0,2003-12-14 03:00:00,1.862791e+00,3.787768e+00,0.706134,28.164637,22.376177
3,0,2003-12-14 06:00:00,-6.431609e+27,1.906353e+14,24.269179,546597.508766,27.843932
4,0,2003-12-14 09:00:00,1.075580e+03,2.202792e+02,30.268061,96.702993,47.548157

In [10]:
# merge columns of feature sets created earlier
rms_feat = pd.concat([rms_mean_3h,
                            rms_sd_3h.ix[:, 2:6],
                          ], axis=1).dropna()
rms_feat.describe()

C:\Users\rudha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

,rpmmean_3h,motor_voltagemean_3h,motor_currentmean_3h,motor_tempmean_3h,inlet_tempmean_3h,rpmsd_3h,motor_voltagesd_3h,motor_currentsd_3h,motor_tempsd_3h
count,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03
mean,-8.110002e+46,-4.430709e+60,-1.387630e+56,-6.639801e+69,-1.937148e+48,3.440783e+47,3.268377e+61,5.887231e+56,2.817029e+70
std,5.789333e+48,4.485950e+62,9.905788e+57,4.739907e+71,1.382849e+50,2.456206e+49,1.903040e+63,4.202670e+58,2.010972e+72
min,-4.132789e+50,-3.091832e+64,-7.071373e+59,-3.383643e+73,-9.871646e+51,7.838860e-02,9.060849e-02,6.789175e-02,1.739210e-01
25%,9.726337e+02,2.232241e+02,3.115416e+01,1.138572e+02,6.324261e+01,4.602697e+01,9.268750e+00,9.386273e-01,4.842464e+00
50%,1.064182e+03,2.590370e+02,3.831244e+01,1.513750e+02,7.770299e+01,5.545659e+01,1.125128e+01,1.134526e+00,5.904421e+00
75%,1.088634e+03,3.012272e+02,4.651230e+01,2.000833e+02,9.226464e+01,4.100803e+02,8.252340e+01,1.122529e+01,3.035845e+01
max,4.432284e+43,8.334410e+63,8.640886e+53,1.732142e+54,9.501662e+38,1.753394e+51,1.311753e+65,3.000129e+60,1.435558e+74

In [17]:
# create a column for each error message type
error_count = pd.get_dummies(train_data_alarm.set_index('timestamp')).reset_index()
error_count.columns = ['timestamp', 'Unit', 'error', 'warning']

# # combine errors for a given machine in a given hour
error_count = error_count.groupby(['Unit', 'timestamp']).sum().reset_index()
error_count.head(13)

    Unit                     timestamp  error  warning
0      1 2003-12-15 19:18:56.526325850      0        1
1      1 2003-12-15 23:29:11.344610850      0        1
2      1 2003-12-17 16:26:26.782823329      0        1
3      1 2003-12-18 02:21:51.445540122      0        1
4      1 2004-01-04 17:16:12.501831699      0        1
5      1 2004-01-18 08:44:36.877231277      0        1
6      1 2004-01-18 09:07:12.711334277      0        1
7      1 2004-01-19 01:54:27.176541911      0        1
8      1 2004-01-22 17:58:39.248417885      0        1
9      1 2004-01-28 12:32:20.743800815      0        1
10     1 2004-01-30 22:34:16.878649796      0        1
11     1 2004-02-12 11:30:41.308615173      0        1
12     1 2004-02-12 13:39:03.260800173      0        1

In [55]:
error_count.dtypes

Unit         object
timestamp    object
error        object
warning       uint8
dtype: object

In [56]:
error_count['error']=error_count['error'].astype(int)
error_count['warning']=error_count['warning'].astype(int)

In [18]:
error_count.describe()

        Unit       error     warning
count  305.0  305.000000  305.000000
mean     1.0    0.003279    0.996721
std      0.0    0.057260    0.057260
min      1.0    0.000000    0.000000
25%      1.0    0.000000    1.000000
50%      1.0    0.000000    1.000000
75%      1.0    0.000000    1.000000
max      1.0    1.000000    1.000000

In [59]:
temp = []
fields = ['error','warning']
for col in fields:
    temp.append(error_count.rolling(pd.pivot_table(error_count,
                               index='timestamp',
                               columns='Unit',
                               values=col),window=24).resample( closed='left', label='right', how='first').unstack()).sum()
error_count = pd.concat(temp, axis=1)
error_count.reset_index(inplace=True)
error_count = error_count.dropna()
error_count.describe()

TypeError: rolling() got multiple values for argument 'window'

In [32]:
train_data_rms['timestamp']=train_data_rms['timestamp'].astype(object)
train_data_alarm['timestamp']=train_data_alarm['timestamp'].astype(object)
error_count['Unit']=error_count['Unit'].astype(object)
error_count['timestamp']=error_count['timestamp'].astype(object)
rms_feat['timestamp']=rms_feat['timestamp'].astype(object)

In [27]:
train_data_rms.dtypes
train_data_alarm.dtypes
error_count.dtypes
rms_feat.dtypes

Unit                     object
timestamp                object
rpmmean_3h              float64
motor_voltagemean_3h    float64
motor_currentmean_3h    float64
motor_tempmean_3h       float64
inlet_tempmean_3h       float64
rpmsd_3h                float64
motor_voltagesd_3h      float64
motor_currentsd_3h      float64
motor_tempsd_3h         float64
dtype: object

In [28]:
error_count.dtypes

Unit         object
timestamp    object
error         uint8
warning       uint8
dtype: object

In [34]:
final_feat = pd.concat([rms_feat, error_count], axis = 1)

In [35]:
print(final_feat.head())
final_feat.describe()

  Unit            timestamp    rpmmean_3h  motor_voltagemean_3h  \
0    0  2003-12-13 21:00:00  1.374093e+00          2.723364e+00
1    0  2003-12-14 00:00:00  2.515909e+00          5.056727e+00
2    0  2003-12-14 03:00:00  1.862791e+00          3.787768e+00
3    0  2003-12-14 06:00:00 -6.431609e+27          1.906353e+14
4    0  2003-12-14 09:00:00  1.075580e+03          2.202792e+02

   motor_currentmean_3h  motor_tempmean_3h  inlet_tempmean_3h      rpmsd_3h  \
0              0.552699          11.121046           5.583214  8.850853e-01
1              1.014991          24.520220          18.462192  1.510390e-01
2              0.706134          28.164637          22.376177  2.534123e-01
3             24.269179      546597.508766          27.843932  2.728701e+28
4             30.268061          96.702993          47.548157  3.680700e+01

   motor_voltagesd_3h  motor_currentsd_3h  motor_tempsd_3h Unit  \
0        1.999816e+00            0.394852     4.229111e+00    1
1        2.834510e-01            0.108988     3.131017e+00    1
2        5.226006e-01            0.159198     4.391338e-01    1
3        8.087970e+14           33.350158     2.318798e+06    1
4        8.930924e+00            0.750773     7.078572e+00    1

                       timestamp error  warning
0  2003-12-15 19:18:56.526325850     0      1.0
1  2003-12-15 23:29:11.344610850     0      1.0
2  2003-12-17 16:26:26.782823329     0      1.0
3  2003-12-18 02:21:51.445540122     0      1.0
4  2004-01-04 17:16:12.501831699     0      1.0

,rpmmean_3h,motor_voltagemean_3h,motor_currentmean_3h,motor_tempmean_3h,inlet_tempmean_3h,rpmsd_3h,motor_voltagesd_3h,motor_currentsd_3h,motor_tempsd_3h,warning
count,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,305.000000
mean,-8.110002e+46,-4.430709e+60,-1.387630e+56,-6.639801e+69,-1.937148e+48,3.440783e+47,3.268377e+61,5.887231e+56,2.817029e+70,0.996721
std,5.789333e+48,4.485950e+62,9.905788e+57,4.739907e+71,1.382849e+50,2.456206e+49,1.903040e+63,4.202670e+58,2.010972e+72,0.057260
min,-4.132789e+50,-3.091832e+64,-7.071373e+59,-3.383643e+73,-9.871646e+51,7.838860e-02,9.060849e-02,6.789175e-02,1.739210e-01,0.000000
25%,9.726337e+02,2.232241e+02,3.115416e+01,1.138572e+02,6.324261e+01,4.602697e+01,9.268750e+00,9.386273e-01,4.842464e+00,1.000000
50%,1.064182e+03,2.590370e+02,3.831244e+01,1.513750e+02,7.770299e+01,5.545659e+01,1.125128e+01,1.134526e+00,5.904421e+00,1.000000
75%,1.088634e+03,3.012272e+02,4.651230e+01,2.000833e+02,9.226464e+01,4.100803e+02,8.252340e+01,1.122529e+01,3.035845e+01,1.000000
max,4.432284e+43,8.334410e+63,8.640886e+53,1.732142e+54,9.501662e+38,1.753394e+51,1.311753e+65,3.000129e+60,1.435558e+74,1.000000

In [33]:
# Lastly, we merge all the feature data sets we created earlier to get the final feature matrix.

final_feat = rms_feat.merge(error_count, on=['timestamp', 'Unit'], how='left')

print(final_feat.head())
final_feat.describe()

  Unit            timestamp    rpmmean_3h  motor_voltagemean_3h  \
0    0  2003-12-13 21:00:00  1.374093e+00          2.723364e+00
1    0  2003-12-14 00:00:00  2.515909e+00          5.056727e+00
2    0  2003-12-14 03:00:00  1.862791e+00          3.787768e+00
3    0  2003-12-14 06:00:00 -6.431609e+27          1.906353e+14
4    0  2003-12-14 09:00:00  1.075580e+03          2.202792e+02

   motor_currentmean_3h  motor_tempmean_3h  inlet_tempmean_3h      rpmsd_3h  \
0              0.552699          11.121046           5.583214  8.850853e-01
1              1.014991          24.520220          18.462192  1.510390e-01
2              0.706134          28.164637          22.376177  2.534123e-01
3             24.269179      546597.508766          27.843932  2.728701e+28
4             30.268061          96.702993          47.548157  3.680700e+01

   motor_voltagesd_3h  motor_currentsd_3h  motor_tempsd_3h error  warning
0        1.999816e+00            0.394852     4.229111e+00   NaN      NaN
1        2.834510e-01            0.108988     3.131017e+00   NaN      NaN
2        5.226006e-01            0.159198     4.391338e-01   NaN      NaN
3        8.087970e+14           33.350158     2.318798e+06   NaN      NaN
4        8.930924e+00            0.750773     7.078572e+00   NaN      NaN

,rpmmean_3h,motor_voltagemean_3h,motor_currentmean_3h,motor_tempmean_3h,inlet_tempmean_3h,rpmsd_3h,motor_voltagesd_3h,motor_currentsd_3h,motor_tempsd_3h,warning
count,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,5.096000e+03,0.0
mean,-8.110002e+46,-4.430709e+60,-1.387630e+56,-6.639801e+69,-1.937148e+48,3.440783e+47,3.268377e+61,5.887231e+56,2.817029e+70,NaN
std,5.789333e+48,4.485950e+62,9.905788e+57,4.739907e+71,1.382849e+50,2.456206e+49,1.903040e+63,4.202670e+58,2.010972e+72,NaN
min,-4.132789e+50,-3.091832e+64,-7.071373e+59,-3.383643e+73,-9.871646e+51,7.838860e-02,9.060849e-02,6.789175e-02,1.739210e-01,NaN
25%,9.726337e+02,2.232241e+02,3.115416e+01,1.138572e+02,6.324261e+01,4.602697e+01,9.268750e+00,9.386273e-01,4.842464e+00,NaN
50%,1.064182e+03,2.590370e+02,3.831244e+01,1.513750e+02,7.770299e+01,5.545659e+01,1.125128e+01,1.134526e+00,5.904421e+00,NaN
75%,1.088634e+03,3.012272e+02,4.651230e+01,2.000833e+02,9.226464e+01,4.100803e+02,8.252340e+01,1.122529e+01,3.035845e+01,NaN
max,4.432284e+43,8.334410e+63,8.640886e+53,1.732142e+54,9.501662e+38,1.753394e+51,1.311753e+65,3.000129e+60,1.435558e+74,NaN